:root {
  --blue: #316B83;
  --green: #6D8299;
  --red: 	#ad273f;
  --background: #EBEBEB;
  --shapes: #FFFFFF;
  --text-title: #8CA1A5;
  --text: #6D8299;
  --text-light: #D5BFBF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
  background-color: #f7eeed
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}